- var user = session.shopId
doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/bower_components/bootswatch/simplex/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block style
  body
    nav.navbar.navbar-fixed-top
      .container
        .navber-header
          a.navbar-brand(href="/") # to #
        ul.nav.navbar-nav
          if user
            li
              a(href="/shop/feed") 나의 피드
            li
              a 유저 관리
            li
              a(href="/shop/mypage") 내 정보 관리
            li
              a(href="/shop/signout") 로그아웃
          else
            li
              a(href="/shop/signin") 로그인
            li
              a(href="/shop/signup") 회원가입
    .container
      block content
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/js/modal.js")
    script(src="https://apis.google.com/js/auth.js?onload=init()")
    block script
