- var user = session.user
doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/bower_components/bootswatch/simplex/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block style
  body
    nav.navbar.navbar-fixed-top
      .container
        .navber-header
          a.navbar-brand(href="#") O2O2O
        ul.nav.navbar-nav
          if user
            li
              a 나의 상점
            li
              a 유저 관리
            li
              a(href="/shops/signout") 로그아웃
          else
            li
              a(href="/shops/signin") 로그인
            li
              a(href="/shops/signup") 회원가입
    .container
      block content
