extends ../layout

block content
  h1 Sign Up
  form(action="/shop/signup", method="POST")
    .form-group
      label(for="accountid") 계정 이름
      input(type="text", name="accountid")#accountid.form-control
    .form-group
      label(for="password") 비밀번호
      input(type="password", name="password")#password.form-control
    .form-group
      label(for="shopname") 상호명
      input(type="text", name="shopname")#shopname.form-control
    .form-group
      label(for="phonenum") 전화번호
      input(type="text", name="phonenum")#phonenum.form-control

    input(type="submit").btn.btn-default
